---
layout: default
title: News
permalink: /news/
image: '/images/hero/hero-news.webp'
---

<!-- begin hero -->
{% if page.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" fetchpriority="high" data-src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    </div>
    <div class="hero__content">
      <h1 class="hero__title">{{ page.title }}</h1>
    </div>
  </div>
</section>
{% else %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{ page.title }}</h1>
    </div>
  </div>
</section>
{% endif %}
<!-- begin hero -->

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="archive-box">
        {% assign news_posts = site.posts | where: "type", "News" %}
        <span class="archive-meta">
          {{ news_posts.size }} {% if news_posts.size < 2 %}post{% else %}posts{% endif %}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% for post in news_posts %}
      {% include article-content.html %}
    {% endfor %}
  </div>
</div>
