<div class="article__bottom">
    {% if site.data.settings.author.avatar %}
    <div class="article__author">
        <a href="{{ '/about/' | relative_url }}" aria-label="{{ site.data.settings.author.name }}"><img class="article__author-image lazy" data-src="{{ site.data.settings.author.avatar | relative_url }}" alt="{{ site.data.settings.author.name }}'s Picture"></a>
        {% if site.data.settings.author.name %}
        <a href="{{ '/about/' | relative_url }}" class="article__author-link">Author: {{ site.data.settings.author.name }}</a>
        {% endif %}
    </div>
    {% endif %}
    {% if post.tags and post.tags.size > 0 %}
    {% assign sorted_tags = post.tags | sort %}
    <div class="article-tags">
        {% for tag in sorted_tags %}
        <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}"
            class="article__tag">
            {{ tag }}
        </a>
        {% endfor %}
    </div>
    {% endif %}

</div>
