<div class="article col {% if forloop.index <= 2 and page.url == '/' %}col-6 col-t-12 grid__post animate article--big{% else %}col-4 col-d-6 col-t-12 grid__post animate{% endif %}">
  <div class="article__inner">
    {% if post.image %}
    <a class="article__image" href="{{ post.url | relative_url }}">
      <img class="lazy" data-src="{{ post.image | relative_url }}" alt="{{ post.title }}">
    </a>
    {% endif %}

    <div class="article__content">

      {% include article-meta.html %}

      <h2 class="article__title">{{ post.title }}</h2>

      <p class="article__excerpt">{{ post.description }}</p>

      {% include article-bottom.html %}

    </div>

  </div>
</div>