<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      {% include footer-widgets/widget-recent-posts.html %}
      {% include footer-widgets/widget-tag-cloud.html %}
      {% include footer-widgets/widget-subscribe.html %}
    </div>
  </div>
</section>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        {% include social-links.html %}
        <nav class="footer__nav" aria-label="Footer navigation">
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/about/' | relative_url }}">About</a></li>
          <li><a href="{{ '/news/' | relative_url }}">News</a></li>
          <li><a href="{{ '/reviews/' | relative_url }}">Reviews</a></li>
          <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        </ul>
      </nav>
      <div class="footer__inner">
        <div class="title"><a href="/">{{ site.data.settings.title }}</a></div>
        <div class="copyright">
          <span>{{ site.time | date: '%Y' }} &copy; TheXyPod • <a href="{{ '/fine-print/' | relative_url }}">Fine Print & Privacy Policy</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->