<!-- begin header -->
<header class="header header--top">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

      <div class="logo">
        <a class="logo__link" href="{{ site.baseurl }}/">
          {% if site.data.settings.logo %}
          <img class="logo__image" width="48" height="48" src="{{ site.data.settings.logo | relative_url }}" alt="{{ site.data.settings.title }}">
          {% else %}
          {{ site.data.settings.title }}
          {% endif %}
        </a>
      </div>

      <div class="menu-overlay">
        <nav class="main-nav" id="primary-nav">
          <div class="main-nav__box">
            <div class="nav-grid">
              <div class="nav-grid__item">
                <h2 class="nav-grid__title">Menu</h2>
                <div class="mobile-nav">
                  {% include navigation.html %}
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="navigation">
        <div class="top-nav">
          {% include navigation.html %}
        </div>
      </div>

      <div class="nav-buttons">
        <button class="search-button" aria-label="Search">
          <i class="nav__icon nav__icon-search fa-solid fa-magnifying-glass"></i>
          <span>Search</span>
        </button>
        <button aria-label="Open menu" aria-expanded="false" aria-controls="primary-nav"class="nav-toggle nav__icon-menu style7" id="nav-toggle">
          <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
            <path class="line line1" d="M 30,35 H 60 C 63.595663,35 65,32.357023 65,30 C 65,27.642977 62.357023,25 60,25 C 57.642977,25 55,25.933659 55,30 V 77.828008" />
            <path class="line line2" d="M 70,35 H 50 C 46.404337,35 45,32.357023 45,30 C 45,27.642977 47.642977,25 50,25 C 52.357023,25 55,25.933659 55,30 V 77.828008" />
            <path class="line line3" d="M 30,50 H 55 C 58.595665,50 60.000005,47.357023 60.000005,45 C 60.000005,42.642977 57.357025,40 55,40 C 52.642977,40 50,40.933659 50,45 V 92.828008" />
            <path class="line line4" d="M 70,50 H 45 C 41.404337,50 40,47.357023 40,45 C 40,42.642977 42.642977,40 45,40 C 47.357023,40 50,40.933659 50,45 V 92.828008" />
            <path class="line line5" d="M 30,65 H 50 C 53.595665,65 55.000005,62.357023 55.000005,60 C 55.000005,57.642977 52.357025,55 50,55 C 47.642977,55 45,55.933659 45,60 V 107.82801" />
            <path class="line line6" d="M 70,65 H 40 C 36.404337,65 35,62.357023 35,60 C 35,57.642977 37.642977,55 40,55 C 42.357023,55 45,55.933659 45,60 V 107.82801" />
          </svg>

          <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
            <path class="line" d="M 34,32 L 66,68" />
            <path class="line" d="M 66,32 L 34,68" />
          </svg>
      </button>
      </div>

      </div>
    </div>
  </div>
</header>
<div id="live-status">
  <span id="live-status__icon">⚫</span>
  <div id="live-status__info">
    <p id="live-status__info-text">TheXyPod is Offline</p>
    <div id="live-status__links">
      <a href="https://twitch.tv/thexypod" aria-label="Visit TheXyPod on Twitch"><i class="fa-brands fa-twitch"></i></a>
      <a href="https://youtube.com/@TheXyPod?sub_confirmation=1" aria-label="Subscribe to TheXyPod on YouTube"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</div>
<!-- end header -->

{% include search.html %}