    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Review",
      "url": "{{ page.url | absolute_url }}",
      "author": {
        "@type": "Person",
        "name": "Xy"
      },
      "publisher": {
        "@type": "Organization",
        "name": "TheXyPod"
      },
      "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
      "reviewBody": "{{ page.description | strip_newlines | escape }}",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": {{ page.score }},
        "bestRating": 6
      },
      "itemReviewed": {
        "@type": "VideoGame",
        "name": "{{ page.title | escape }}",
        "genre": "horror",
        "gamePlatform": {{ page.platform-played-on | jsonify }},
        "publisher": {
          "@type": "Organization",
          "name": "{{ page.developer | escape }}"
        }
      }
    }
  </script>