/* Header */
.header {
  width: 100%;
  padding: 1.5rem 0;
  transition: $global-transition;
  color: $white;

  &.header--top {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
    transition: background-color 1s ease;

    &.scrolled {
      background-color: #09080fe6;
      backdrop-filter: saturate(180%) blur(10px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    }
  }
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */
.logo__link {
  font-family: $heading-font-family;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
  vertical-align: middle;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
  &:hover {
    color: $brand-color;
  }
}

.logo__image {
  max-height: 48px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

/* Nav */
.main-nav {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main-nav__box {
  display: flex;
  align-items: center;
  width: 80%;
  padding-top: 200px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    padding-top: 100px;
  }

  @media (max-width: $mobile) {
    width: 90%;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.top-nav {
  .nav__list {
    .nav__item {
      display: inline-block;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }

      .nav__link {
        position: relative;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $text-color;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }

  @media (max-width: $desktop) {
    display: none;
  }
}

.mobile-nav {
  .nav__list {

    .nav__item {
      display: block;
      margin-bottom: 36px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }

      .nav__link {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $text-color;
        &:hover {
          color: $brand-color;
        }
      }

      @media (max-width: $mobile) {
        margin-bottom: 28px;
      }
    }
  }
}

.nav-buttons {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: $text-color;

  button {
    background: none;
    border: none;
  }

  .search-button {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: $global-transition;
    width: 48px;
    height: 48px;

    span {
      transition: $global-transition;
    }

    &:hover {
      span {
        color: $brand-color;
      }
    }

    span {
      display: block;
      margin-left: 8px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media (max-width: $desktop) {
        display: none;
      }
    }
  }

  .nav__icon-menu {
    display: none;
    font-size: 18px;
    @media (max-width: $desktop) {
      display: flex;
    }
  }

  .nav__icon {
    cursor: pointer;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background-color: $dark;
  transition: all 0.5s ease-in-out;
  &.is-open {
    opacity: 1;
    visibility: visible;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: saturate(180%) blur(24px);
    backdrop-filter: saturate(180%) blur(24px);
    background-color: rgba($dark, .9);
  }
  @media (min-width: $desktop) {
    display: none;
  }
}

.nav-grid {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
}

.nav-grid__item {
  margin-bottom: 30px;
  @media (max-width: $tablet) {
    height: auto;
  }
}

.nav-grid__title {
  position: relative;
  margin-bottom: 48px;
  padding-bottom: 15px;
  font-size: 40px;
  text-align: center;
  color: $text-color;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 25px;
    height: 2px;
    background-color: $white;
  }
  @media (max-width: $tablet) {
    margin-bottom: 30px;
  }
}