/* Social Links */
.social {
  text-align: center;
  max-width: 440px;
  margin: 0 auto;

  .social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .social__item {
    display: inline-block;
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 28px;
    line-height: 48px;
    border-radius: 8px;
    color: $white;
    background-color: $blue-dark;
    &:hover {
      color: $dark;
      background-color: $brand-color;
    }
  }

  @media (max-width: $desktop) {
    margin-bottom: 8px;

    .social__item {
      margin-bottom: 8px;
    }
  }

  @media (max-width: $tablet) {
    .social__link {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
}