---
layout: default
---
<main id="main-content">
  <article class="post animate">
    <header class="post-head">
      <div class="container">
        <div class="row">
          {% if page.image %}
          <div class="col col-6 col-t-12">
            <div class="image-box">
              <img class="post-image lazy" data-src="{{ page.image | relative_url }}" alt="{{ page.title }}">
            </div>
          </div>
          {% endif %}

          <div class="col col-6 col-t-12">
            <div class="post-head__box">

              <div class="post__meta">
                <span class="post__minutes">
                  {% assign words = page.content | number_of_words %}
                  {% if words < 360 %}
                    1 min read
                  {% else %}
                    {{ words | divided_by:180 }} min read
                  {% endif %}
                  <time class="post__date"
                    datetime="{{ page.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ page.date | date: date_format }}</time>
                </span>
              </div>

                <h1 class="post__title"  id="post-title">{% if page.type == "Review" %}Review <br>{% endif %}{{ page.title }}</h1>
                {% if page.type == "Review" %}
                <dl class="post__meta">
                  <dt class="post__meta-title">Released</dt>
                  <dd class="post__meta-info">
                    {{ page.game-release-date | date: "%B %-d, %Y" }}
                  </dd>

                  <dt class="post__meta-title">Played On</dt>
                  <dd class="post__meta-info">
                    {{ page.platform-played-on }}
                  </dd>

                  <dt class="post__meta-title">Playtime</dt>
                  <dd class="post__meta-info">
                    {{ page.playtime-at-review }}
                  </dd>

                  <dt class="post__meta-title">Available On</dt>
                  <dd class="post__meta-info">
                    <ul>
                      {% for platform in page.platforms %}
                        <li>
                          <a href="{{ platform[1] }}" target="_blank" rel="noopener">
                            {% if platform[0] == "Steam" %}
                              <i class="fa-brands fa-steam"></i>
                            {% elsif platform[0] == "Playstation" %}
                              <i class="fa-brands fa-playstation"></i>
                            {% elsif platform[0] == "Xbox" %}
                              <i class="fa-brands fa-xbox"></i>
                            {% elsif platform[0] == "Nintendo" %}
                              <i class="fa-solid fa-gamepad"></i>
                            {% endif %}
                            {{ platform[0] }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </dd>
                </dl>
                {% endif %}

              <div class="post__bottom">

                <div class="post__author">
                  <a href="{{ '/about/' | relative_url }}" aria-label="{{ site.data.settings.author.name }}"><img class="post__author-image"
                      src="{{ site.data.settings.author.avatar | relative_url }}" alt="{{ site.data.settings.author.name }}'s Picture"></a>
                      <a href="{{ '/about/' | relative_url }}" class="post__author-link">Author: {{ site.data.settings.author.name }}</a>
                </div>

                <div class="post__bottom-meta">
                  <dl class="post-tags">
                  <dt class="post__meta-title">Tags</dt>
                  {% if page.tags and page.tags.size > 0 %}
                    {% assign sorted_tags = page.tags | sort %}
                      {% for tag in sorted_tags %}
                      <dd class="post__tag">
                        <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}">
                          {{ tag }}
                        </a>
                      </dd>
                      {% endfor %}
                    </d>
                  {% endif %}
                  </dl>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- begin post -->
  <div class="container">
      <div class="post__content">
        {{ content }}
      </div>

      {% if page.broadcasts and page.broadcasts != empty %}
        {% include broadcasts.html broadcasts=page.broadcasts %}
      {% endif %}

      <div class="post__share">
        <div class="share__list">
          <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow"><i class="fa-brands fa-square-facebook"></i></a>

          <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow"><i class="fa-brands fa-x-twitter"></i></a>

          <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest" rel="nofollow"><i class="fa-brands fa-pinterest"></i></a>
        </div>
      </div>

      <nav class="post__navigation">
        {% if page.previous.url %}
        <a class="prev" href="{{ page.previous.url | relative_url }}">
          <img class="post__nav-image lazy" data-src="{{ page.previous.image | relative_url }}" alt="{{ page.previous.title }}">
          <div class="post__nav-box">
            <div class="post__nav post__nav__prev"><i class="fa-solid fa-arrow-left"></i> Prev Post</div>
            <h4 class="post__nav__title">{{page.previous.title}}</h4>
          </div>
        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="next" href="{{ page.next.url | relative_url }}">
          <img class="post__nav-image lazy" data-src="{{ page.next.image | relative_url }}" alt="{{ page.next.title }}">
          <div class="post__nav-box">
            <div class="post__nav post__nav__next">Next Post <i class="fa-solid fa-arrow-right"></i></div>
            <h4 class="post__nav__title">{{ page.next.title }}</h4>
          </div>
        </a>
        {% endif %}
      </nav>
  {% if page.type == "Review" %}
    <a href="https://store.steampowered.com/curator/34583902-TheXyPod-%257C-Horror-Reviews/lists/" class="curator-link">
      <img class="animate" src="images/steamCurator.webp" height="250" width="250" alt="An image of Xy faceswapped in Alien Isolation Game Art. TheXyPod Horror Reviews is in text here">
      <div class="curator-link__info">
        <p class="curator-link__title">Steam Curator</p>
        <p>Like the review and want to see them on Steam as you browse? Follow the curator page on Steam to get recommendations right in your store.</p>
      </div>
    </a>
  {% endif %}
  </article>
</div>
</main>
<!-- end post -->

{% include related-posts.html %}

{% comment %} {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %} {% endcomment %}